.cabecera {
    color: white;
}

a {
    list-style: none;
}

body {
    background-image: url(espaciovia.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}